.buttons{
    color:red;
    background: white;
    padding: 10px;
    border-color: white;
    border-radius: 10px;
    border-style: none;
    font-size: 20px;
    font-style: italic;
    font-weight: bold;
    cursor: pointer;
    transition: background-color 0.2s, color 0.2s;
}

/* styling the add, print and clear buttons */
.buttons:hover{
    background-color:red;
    color:white;
}

.buttons:active{
    opacity:0.5;
}

/* styling the input */
.inputBox{
    background-color: white;
    border-color: white;
    border-style: none;
    padding:8px;
    border-radius: 5px;
    color:red;
    font-weight: bold;
    font-size:12px;
}

/* styling the delete buttons*/
.deleteButtons{
    color:yellow;
    background-color:black;
    border-style:none;
    cursor: pointer;
    margin-left: 12px;
}

/* styling the vitamin name and date */
.vitaminFacts{
    color:white;
    font-size: 18px;
}

body{
    background-color: crimson;
}

